@model List<MatrisAritmetik.Core.Models.CommandLabel>
@{
    Layout = null;
}

@if (Model != null)
{
    <option value="komut_options_placeholder" class="options_placeholder">Komutlar</option>
    @foreach (MatrisAritmetik.Core.Models.CommandLabel cmdlabel in Model)
    {
        <optgroup label="@cmdlabel.Label">

            @foreach (MatrisAritmetik.Core.Models.CommandInfo cmdinfo in cmdlabel.Functions)
            {
                <option value="@cmdinfo.Function_template_filled" title="@cmdinfo.Info()" style="color:white">
                    @cmdinfo.Fullname
                </option>
            }

        </optgroup>
    }

    Model.Clear();
}
