@page

@model MatrisAritmetik.Pages.MatrisModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Matris Aritmetiği</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" asp-append-version="true">

    @* JQuery için *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @* Tablar için *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    @* Panelleri sarar *@
    <div id="panel_container">

        @* Sol panel *@
        <div id="left_panel">

            @* Panel başlığı ve tab satırı *@
            <div id="matris_title_left">
                <h2>Matris Tablosu</h2>

                <div class="container tabrow">

                    @* Tablar *@
                    <ul class="nav nav-tabs" style="width:fit-content">

                        <li id="matris_create_bytext_parent" class="active"><a id="matris_create_bytext">Yazı ile</a></li>

                        @* Dosyadan oku

                            <li id="matris_create_byfile_parent"><a  id="matris_create_byfile">Dosya ile</a></li>

                        *@
                        @* Özel matris dropdown menü partial *@
                        <select id="special_matris_options">
                            <partial name="_SpecialSelectionPartial" model=@ViewData["special_opiondict"] />
                        </select>

                    </ul>

                </div>

            </div>

            @* Matris ekleme bilgileri satırı *@
            <div id="matris_add_table">

                <input type="text" id="matris_name" placeholder="Matris ismi" />
                <span id="matris_add_eqsign">=</span>

                @* Özel matris ekleme inputları*@
                <textarea name="matris_vals_special" id="matris_vals_special" style="display:none" readonly="readonly"></textarea>
                <input type="text" id="matris_special_args" style="display:none" placeholder="Parametre:Değer" />
                @**@
                @* Text ile matris ekleme inputları*@
                <textarea name="matris_vals" id="matris_vals" placeholder="Değerleri boşluk bırakarak girin..."></textarea>
                @**@

                <input id="matris_add_button" type="button" class="button" value="Oluştur" name="matris_create" currenttab="text" />

            </div>

            @* Kayıtlı matris tablosu *@
            <table id="matris_table_base">
                <thead>
                    <tr>
                        <td colspan="18" style="text-align:center;padding:1px;font-weight:bold">Kayıtlı Matrisler</td>
                    </tr>
                </thead>

                @* Ekli matrislerin satırları partial *@
                <tbody id="matris_table">
                    <partial name="_MatrisTablePartial" model=@Model.savedMatrices />
                </tbody>

            </table>

        </div>

        @* Panel bölücü *@
        <div id="panel_split"></div>

        @* Sağ panel *@
        <div id="right_panel">

            @* Panel başlığı *@
            <div id="matris_title_right">
                <h2>Matris Derleyici </h2>
            </div>

            @* Komut girme satırı *@
        <div id="matris_komut_panel">

            <span id="matris_komut_satır" 
                  data-placeholder=">>> (örnek: (A+3)*5) (yardım için: ?)" 
                  data-focused-advice="Yardım için '?' yazın" 
                  contentEditable="true"
                  spellcheck="false"></span>
            <!--<input type="text" id="matris_komut_satır" placeholder=">>> (örnek: (A+3)*5) (yardım için: ?)" />-->
            <input id="matris_komut_button" type="button" class="button" value="Çözümle" name="matris_komut_btn" data-toggle="tooltip" data-placement="top" title="İfadeyi/Komutu çözümle" />
            <select id="matris_komut_options">
                <partial name="_CommandSelectionPartial" model=@ViewData["komut_optionsdict"] />
            </select>

        </div>

            @* Komut çıktısı tablosu/bölgesi *@
            <div id="matris_komut_output">
                <table id="matris_komut_table_base">
                    <thead>
                        <tr>
                            <td style="text-align:left;padding:2px;font-weight:bold">Çıktılar</td>
                        </tr>
                    </thead>

                    @* Çıktılar *@
                    <tbody id="output_body">
                        <partial name="_OutputPanelPartial" model=@Model.OutputHistory />
                    </tbody>

                </table>
            </div>
        </div>

    </div>
</body>

@* Tokenlere erişim için *@
<script>if (matris_add_button) { matris_add_button.token = "@token";}</script>
<script>if (matris_komut_button) { matris_komut_button.token = "@token";}</script>
@* Ara panel için*@
<script>
    $("#left_panel").resizable({
        handleSelector: "#panel_split",
        resizeHeight: false,
    });

</script>
@* Sayfa yenilendiğinde listener'lar için*@
@* TO-DO: Daha düzgün bi yol bul*@
<script>

    function updateTable(token) {
        $('#matris_table').load('/Matris?handler=UpdateMatrisTable', { __RequestVerificationToken: token }, function () {
            var math = document.getElementById("matris_table");
            MathJax.Hub.Queue(["Typeset", MathJax.Hub, math]);
            // Butonları bul & eventlistener ekle
            var buttons = document.getElementsByName("matris_table_delbutton");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", deleteMatrix, false);
                buttons[i].token = token;
            }

        });
    }

    function deleteMatrix(event) {
        var tkn = event.currentTarget.token;
        $.ajax(
            {
                type: 'POST',
                url: 'Matris?handler=DeleteMatrix',
                data:
                {
                    __RequestVerificationToken: tkn,
                    "name": event.currentTarget.id,
                },
                success: function (data) { updateTable(tkn); },
                error: function (error) { console.log(error); }
            });
    }

    updateTable('@token');

</script>
