@page 
@model MatrisAritmetik.Pages.MatrisModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Matris Aritmetiği</title>
    
</head>
<body>

    <div id="matris_main">

        <h2>Matris Aritmetiği </h2>

        <label for="matris_name"></label>
        <input type="text" id="matris_name" placeholder="Matris ismi" />

        <textarea name="matris_vals" id="matris_vals" placeholder="Değerleri boşluk bırakarak girin..."></textarea>

        <input id="matris_add_button" type="button" class="button" style="color:midnightblue" value="Oluştur" name="matris_create" />

    </div>

    <table>
        <thead>
            <tr>
                <td colspan="6" style="text-align:center;padding:1px;font-weight:bold">Kayıtlı Matrisler</td>
            </tr>
        </thead>
        <tbody id="matris_table">
            <partial name="_MatrisTablePartial" model=@TempData["floatdict"]/>
        </tbody>
    </table>
</body>

<script>if (matris_add_button) { matris_add_button.token = "@token";}</script>