@page 
@model MatrisAritmetik.Pages.MatrisModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Matris Aritmetiği</title>
    
</head>
<body>

    <div id="matris_main">

        <h2>Matris Aritmetiği </h2>

        <label asp-for="Matris_name"></label>
        <input asp-for="Matris_name" type="text" id="matris_name" placeholder="Matris ismi" />

        <textarea asp-for="Matris_vals" id="matris_vals" placeholder="Değerleri boşluk bırakarak girin..."></textarea>

        <input id="matris_add_button" type="button" class="button" style="color:midnightblue" value="Oluştur" name="matris_create" />

        <table>
            <thead>
                <tr>
                    <td>Matris Adı</td>
                    <td>Elementler</td>
                </tr>
            </thead>
        </table>
    </div>
  
    <div id="matris_table">
    </div>

</body>

<script>if (matris_add_button) { matris_add_button.token = "@token";}</script>