
/* BACKGROUND RELATED */
html {
    height: 100%;
    overflow: auto;
}
body {
    display: flex;
    min-height: 100%;
    background-color: palegoldenrod !important;
    overflow: auto;
}

#panel_container {
    display: flex !important;
    flex-direction: row !important;
    overflow: hidden !important;
    xtouch-action: none;
}

/* Options placeholder row */
.options_placeholder {
    font-weight:bold;
    background-color:lightgrey;
}
/* SIDE NAV */

.sidenav_linkstitle {
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    top: 25px;
}
.navcolumn {
    padding: 20% 5px 0px 1px;
    background-color: peru;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #103f6bfa;
    overflow-x: hidden;
    transition: 0.15s;
    padding-top: 50px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d2983d;
        display: block;
        transition: 0.1s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }
    
        .sidenav a u{
            cursor:default;
        }

    .sidenav .closebtn {
        position: absolute;
        color: #ff9900;
        top: 0;
        right: 25px;
        font-size: 40px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
/********** LEFT_PANEL *********/
#left_panel {
    flex: 0 0 auto !important;
    padding: 5px;
    margin: 2px;
    width: 650px;
    min-height: 400px;
    min-width: 525px;
    max-width:  60%;
    background-color: palegoldenrod !important;
}
#matris_title_left {
    text-align:center;
    background-color: #eae073;
    border: 2px double black !important;
}

/* TAB SATIRI */
.tabrow {
    border-top: 3px solid black;
    background-color: inherit;
    width: inherit !important;
    padding: 0px !important;
}

    .tabrow > ul > li {
        font-weight: bold !important;
        font-size:15px;
        color: #4c3a0b !important;
        cursor: pointer !important;
    }

#special_matris_options {
    border: none !important;
    background-color: inherit;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-top: 2px;
}

/* MATRIS EKLEME PANEL */
#matris_add_table {
    min-width: 280px;
    display: flex;
    background-color: #eae073;
    border: 2px solid black;
    border-top: 0px;
    min-height: 65px;
    padding: 2px;
}

#matris_name {
    flex: 14%;
    padding: 2px;
    margin: 2px;
    min-width: 15%;
}

#matris_add_eqsign {
    display:flex;
    align-items:center;
    flex: 1%;
    padding: 2px;
    margin: 1px;
}

/* Standard panel */
#matris_vals {
    min-height: 57px;
    flex: 70%;
    padding: 2px;
    margin: 2px;
    min-width: 22%;
}

/* Spacer and new-liner*/
.custom_delim_newline {
    font-weight: bold;
    width: 145px;
    height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}

.custom_checkbox_options {
    position: relative;
    top: 2px;
    left: 0px;
    width: 145px;
    height: 25px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.custom_spacer_select {
    position: relative;
    top: 2px;
    left: 0px;
    width: 145px;
    height: 25px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.custom_spacer_displayer {
    position: relative;
    top: -23px;
    left: 0px;
    width: 125px;
    height: 25px;
    border: 1px solid #556;
}

.custom_newliner_select {
    position: relative;
    top: -16px;
    left: 0px;
    width: 145px;
    height: 25px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.custom_newliner_displayer {
    position: relative;
    top: -41px;
    left: 0px;
    width: 125px;
    height: 25px;
    border: 1px solid #556;
}

/* Add button */
#matris_add_button, #matris_fromfile_create_button {
    flex: 15%;
    padding: 2px;
    margin: 2px;
    min-width: 13%;
}

/* Özel matris ekleme panel */

#matris_vals_special {
    min-height: 57px;
    flex: 35%;
    padding: 2px;
    margin: 2px;
    min-width: 11.5%;
}

#matris_special_args {
    flex: 35%;
    padding: 2px;
    margin: 2px;
    min-width: 11.5%;
}

/* Dosyadan */
#matris_file_button {
    display: none;
    min-width: 10%;
    overflow: auto;
    margin: 0px 2px 0px 2px;
    padding: 1px;
    white-space: pre-wrap;
}

#matris_fromfile_create_button {
    display: none;
    white-space: normal;
}

/*** MATRIS KAYITLARI TABLOSU ***/
.saved_mattable_title {
    color: white !important;
    text-align: center;
    padding: 1px;
    font-weight: bold;
}

#matris_table_base {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px 1rem !important;
}

.matris_table_head {
    background-color: #b8860b !important;
}

.matris_table {
    background-color: #d6c081;
}
    .matris_table tr td:first-child {
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
    }

    .matris_table tr td:last-child {
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }
    .matris_table tr {
        padding-bottom:3px;
    }
    .matris_table td {
        overflow: auto;
    }

.matdelbtn {
    background-color: #b8860b !important;
    border-radius: 13px !important;
}

/*********** SPLITTER  **********/
#panel_split {
    flex: 0 0 auto !important;
    width: 0px;
    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-resizable-e {
    width: 14px !important;
    border-right: 7px solid darkgoldenrod;
    margin-right: 2px;
}
/********** RIGHT_PANEL *********/
#right_panel {
    background-color: #ceb56c !important;
    flex: 1 1 auto !important;
    padding: 5px;
    margin: 2px;
    width: 100%;
    min-height: 200px;
}
#matris_title_right {
    text-align: center;
    background-color: #eae073;
    border: 2px double black !important;
}

/* KOMUT PANEL */
#matris_komut_panel {
    display: flex;
    flex-direction: row;
    padding: 1px;
    background-color: #eae073;
    border: 2px solid black;
    border-top: 1px solid black;
}
#matris_komut_satır {
    flex-grow: 2;
    padding: 3px;
    margin: 1px;
    background-color: #373738;
    color: white;
    overflow: auto;
}
    #matris_komut_satır:focus {
        outline: none;
    }
    /*
    #matris_komut_satır::placeholder { 
        color: #b6b1b1;
        font-weight:bold;
        opacity: 1; 
    }

    #matris_komut_satır:-ms-input-placeholder { 
        color: #b6b1b1;
        font-weight: bold;
    }

    #matris_komut_satır::-ms-input-placeholder { 
        color: #b6b1b1;
        font-weight: bold;
    }*/
    #matris_komut_satır[contenteditable] {
        display: inline-block;
    }
        #matris_komut_satır[contenteditable]:empty::before {
            content: attr(data-placeholder);
            color: #b6b1b1;
            display: inline-block;
        }

        #matris_komut_satır[contenteditable]:empty:focus::before {
            content: attr(data-focused-advice);
            color: #b6b1b1;
        }
#matris_komut_button {
    background-color: darkblue;
    color: white;
    font-weight: bold;
    z-index: 2;
    margin: 2px;
}
#matris_komut_options {
    background-color: #d39f5a;
    font-weight: bold;
    margin: 2px;
}


/* OUTPUT PANEL */
#matris_komut_output {
    padding-right: 6px;
}
#matris_komut_table_base {
    width: 100%;
}
#matris_komut_table_base thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.command_start {
    font-weight: bold;
    font-size: 16px;
    color: blue;
}
.cmdrepeat {
    min-height: 25px;
    font-family: monospace;
    background-color: #d39f5a;
    font-weight: bold;
    border-bottom: 2px solid #374ce2;
    border-top: 2px solid #374ce2;
}
.cmdHelpStart {
    font-size: medium;
    font-weight: bold;
    color: #56da56;
}
.cmdHelpCommandGiven {
    background-color: darkgoldenrod;
    color: white;
    border-bottom: 1px solid #56da56;
    border-top: 1px solid #56da56;
}

.cmdoutput {
    padding:2px;
    white-space: pre-wrap;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace
}
#output_body {
    border: 2px solid #1d1c1c;
    background-color: burlywood !important;
    display: block;
    max-height: 80vh;
    overflow-y: scroll;
    max-width: inherit;
}
    #output_body tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    #output_body td {
        overflow: auto;
    }

#output_textarea {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    min-height: 100px;
    resize: vertical;
    flex: 100%;
    overflow-y: scroll;
}

.outputRow {
    padding: 3px;
}

.output_cmd_info {
    color: white;
    background-color: #4553c6;
    border: 3px solid white;
    padding: 3px;
}
.output_cmd_warning {
    color: #ff6a00;
    background-color: #fbee5a;
    border: 3px solid #ff6a00;
    padding: 3px;
}
.output_cmd_error {
    color: red;
    background-color: #fcbfbf;
    border: 3px solid darkred;
    padding: 3px;
}

.compilerHelp {
    font-size: small;
    font-weight: 600;
    font-family: monospace;
}
.commandError{
    font-style:italic;
}

/* Syntax highlighting classes*/
/* Doc highlight */
.docs {
    color: #71eb71;
    font-weight: bold;
}
.docs_term {
    color: #b3f8b3;
}

/* Setting highlight */
.settings_sep {
    color: red ;
    font-weight: bolder;
}

.settings_attname {
    color: #9e97fb;
    font-weight: bold;
    font-style: italic;
}

.settings_applyname {
    color: #d295f6;
    font-weight: bold;
}

.settings_setapplysep {
    color: white;
    font-weight: bolder;
}

.settings_attvalue {
    color: #7ccfff;
    font-weight: bold;
    font-style: italic;
}

/* Other token highlight */
.operator {
    color: #26fbd4;
    font-weight: bolder;
}

.function{
    color: #c569fc;
    font-weight: bold;
}

.seperator {
    color: #15b0f5;
    font-weight: bolder;
}

.text_or_num{
    color: white;
}