
/* BACKGROUND RELATED */
html {
    height: 100%;
}
body {
    display: flex;
    min-height: 100%;
    background-color: palegoldenrod !important;
}

#panel_container {
    display: flex !important;
    flex-direction: row !important;
    overflow: hidden !important;
}

/* Options placeholder row */
.options_placeholder {
    font-weight:bold;
    background-color:lightgrey;
}

/********** LEFT_PANEL *********/
#left_panel {
    transition: all 0s ease 0s;
    flex: 0 0 auto !important;
    padding: 5px;
    margin: 2px;
    min-width: 45% !important;
    max-width: 60% !important;
    background-color: palegoldenrod !important;
}
#matris_title_left {
    text-align:center;
    background-color: #eae073;
    border: 2px double black !important;
}

/* TAB SATIRI */
.tabrow {
    border-top: 3px solid black;
    background-color: inherit;
    width: inherit !important;
    padding: 0px !important;
}

    .tabrow > ul > li {
        font-weight: bold !important;
        font-size:15px;
        color: #4c3a0b !important;
        cursor: pointer !important;
    }

#special_matris_options {
    border: none !important;
    background-color: inherit;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

/* MATRIS EKLEME PANEL */
#matris_add_table {
    min-width: 280px;
    display: flex;
    background-color: #eae073;
    border: 2px solid black;
}

#matris_name {
    flex: 14%;
    padding: 2px;
    margin: 2px;
    min-width: 15%;
}

#matris_add_eqsign {
    display:flex;
    align-items:center;
    flex: 1%;
    padding: 2px;
    margin: 1px;
}

/* Standard panel */
#matris_vals {
    min-height: 34px;
    height: 34px;
    flex: 70%;
    padding: 2px;
    margin: 2px;
    min-width: 22%;
}

#matris_add_button {
    flex: 15%;
    padding: 2px;
    margin: 2px;
    min-width: 13%;
}

/* Özel matris ekleme panel */

#matris_vals_special {
    min-height: 34px;
    height: 34px;
    flex: 35%;
    padding: 2px;
    margin: 2px;
    min-width: 11.5%;
}

#matris_special_args {
    flex: 35%;
    padding: 2px;
    margin: 2px;
    min-width: 11.5%;
}

/*** MATRIS KAYITLARI TABLOSU ***/
#matris_table_base {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px 1rem !important;
}

#matris_table {
    background-color: #d6c081;
}
    #matris_table tr td:first-child {
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
    }

    #matris_table tr td:last-child {
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }
    #matris_table tr {
        padding-bottom:3px;
    }
    #matris_table td {
        overflow: auto;
    }

.matdelbtn 
{
    border-radius: 13px !important;
}

/*********** SPLITTER  **********/
#panel_split {
    flex: 0 0 auto !important;
    width: 0px;
    padding: 5px 0px 5px 0px;
    margin: 2px 0px 2px 0px;
    border-left: 4px solid darkgoldenrod;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/********** RIGHT_PANEL *********/
#right_panel {
    background-color: #ceb56c !important;
    border-left: 4px double darkgoldenrod;
    flex: 1 1 auto !important;
    padding: 5px;
    margin: 2px;
    max-width: 65% !important;
}
#matris_title_right {
    text-align: center;
    background-color: #eae073;
    border: 2px double black !important;
}

/* KOMUT PANEL */
#matris_komut_panel {
    display: flex;
    background-color: #eae073;
    border: 2px solid black;
}
#matris_komut_options{
    flex: 15%;
    padding: 1px;
    margin: 1px;
    min-width:20%;
}
#matris_komut_satır {
    flex: 65%;
    padding: 2px;
    margin: 2px;
}

#matris_komut_button {
    flex: 20%;
    padding: 2px;
    margin: 1px;
}

/* OUTPUT PANEL */
#matris_komut_output {
    padding-right: 6px;
}
#matris_komut_table_base {
    width: 100%;
}
#matris_komut_table_base thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.command_start{
    font-weight:bold;
    color:blue;
}
.cmdrepeat {
    min-height: 25px;
    font-family: monospace;
    background-color: #d39f5a;
    font-weight:bold;
}
.cmdHelpStart {
    font-size: medium;
    font-weight: bold;
    color: #56da56;
}
.cmdHelpCommandGiven {
    background-color: darkgoldenrod;
    color: white;
    border-bottom: 1px solid #56da56;
    border-top: 1px solid #56da56;
}

.cmdoutput {
    white-space: pre-wrap;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace
}
#output_body {
    border: 2px double #4c3a0b;
    background-color: burlywood !important;
    display: block;
    max-height: 48em;
    overflow-y: scroll;
    max-width: inherit;
}
#output_body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
#output_body td {
    overflow: auto;
}
#output_textarea {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    min-height: 100px;
    resize: vertical;
    flex: 100%;
    overflow-y: scroll;
}

.outputRow {
    border-bottom: 2px dashed #d39f5a;
    padding: 2px 0px 2px 2px;
}

.output_cmd_info {
    color: darkgray;
    background-color: aliceblue;
    border: 3px solid gray;
    padding-left:2px;
}
.output_cmd_warning {
    color: sandybrown;
    background-color: aliceblue;
    border: 3px solid #ff6a00;
    padding-left: 2px;
}
.output_cmd_error {
    color: red;
    background-color: aliceblue;
    border: 3px solid darkred;
    padding-left: 2px;
}

.compilerHelp {
    font-size: small;
    font-weight: 600;
    font-family: monospace;
}
.commandError{
    font-style:italic;
}
